:root {
  --color-letter-Start: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  background-color: var(--background-color);
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 325px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    31deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(27, 0, 50, 1) 40%,
    rgba(34, 0, 80, 1) 30%
  );
  padding: 35px;
}

.containerProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.containerProfile img {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  margin-bottom: 15px;
}

.containerProfile p:nth-child(2) {
  color: #ffff;
  font-size: 23px;
  letter-spacing: 3px;
}

.containerProfile p:nth-child(3) {
  color: grey;
  font-size: 17px;
}

.containerProfile .menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.containerProfile .menu a {
  text-decoration: none;
  width: 100%;
  font-size: 18px;
  color: #fff;
  padding: 8px 0;
  border-radius: 50px;
  text-align: center;
}

.containerProfile .menu a:hover {
  background: linear-gradient(
    to right,
    #00f7ff,
    #a66cff,
    #e000ff,
    #ffad51,
    #ff8700
  );
}

.containerProfile .menu a.linkActive {
  background: linear-gradient(
    to right,
    #00f7ff,
    #a66cff,
    #e000ff,
    #ffad51,
    #ff8700
  );
}
