*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.container-down {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70%;
}

.users {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}


.title-user{
    color: var(--letter-color-main-dark);
}

#search {
	padding: 10px;
    border-radius: 8px;
    border: solid 1px var(--letter-color-subtitle);
}

#students {
    display: flex;
    flex-direction: column;
	list-style-type: none;
	padding: 0;
    text-align: center;
    overflow: auto;
    height: 50vh;
}

#students a {
    margin-bottom: 5px;
	padding: 10px;
	background-color: var(--background-btn-secondary2);
	color: white;
    text-decoration: none;
    border-radius: 8px;
}

.schedule-config{
    background-color: var(--backgroudn-btn-third);
    border: solid var(--backgroudn-btn-third);
    color: white;
    border-radius: 8px;
}



/* Calendario */

.schedule{
    display: flex;
    width: 100%;
}

#calendar {
    font-size: 120%;
    margin: 40px auto;
  }